// app global css in SCSS form
// app global css in SCSS form
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: bold;
  src: url(./fonts/OpenSans-Regular.ttf);
}
@font-face {
  font-family: 'Nunito Sans';
  src: url(./fonts/Nunito-Regular.ttf);
}
.h1 {
  font-family: 'Open Sans';
  font-size: 28px;
}
.h2 {
  font-family: 'Open Sans';
  font-size: 24px;
}
.h3 {
  font-family: 'Open Sans';
  font-size: 20px;
}
.h4 {
  font-family: 'Open Sans';
  font-size: 18px;
}
.h5 {
  font-family: 'Open Sans';
  font-size: 16px;
}
.p1 {
  font-family: 'Open Sans';
  font-size: 14px;
}
.p2 {
  font-family: 'Open Sans';
  font-size: 12px;
}

body {
  color: $font-black;
}

/* Authentication Layout */
.auth {
  padding: 25% 15%;
  height: 100%;
}

/* Drawer */
.active {
  color: $orange !important;
  font-weight: bold;
  // background: linear-gradient(0deg, #FAE4D4, #FAE4D4), #FFFFFF;
  // box-shadow: inset 6px 0px 0px #E7792A;
}
.inactive {
  color: $font-black-alt !important;
  font-weight: normal;
}
.activeExpand {
  color: $orange !important;
  font-weight: bold;
}
.inactiveExpand {
  color: $font-black-alt !important;
  font-weight: normal;
}

/* Dialog */
.dialog {
  font-family: 'Nunito Sans';
}

/* Link for return to prev page */
.back {
  text-decoration: none;
  cursor: pointer;
  color: black;
}
.back:hover {
  color: $deep-orange;
}

.search-box {
  width: 250px;
  height: 44px;
  background: #FFFFFF;
  border: 1.5px solid #DEDEDE;
  border-radius: 6px;
  padding: 0 12.5px;
}

.filter {
  &-dropdown {
    margin: 0 0 0 auto;
    &-button {
      margin: 0 0 0 16px;
      max-width: 180px;
      height: 44px;
      background: #FFFFFF;
      border: 1.5px solid #E7792A;
      border-radius: 6px;
      font-family: 'Nunito Sans';
      font-style: normal;
      font-weight: 600;
      font-size: 14px;
      line-height: 20px;
      text-align: center;
      color: #E7792A;
    }
  }
}

.dropdown {
  width: 150px;
  border: 1.5px solid #E7792A;
  border-radius: 6px;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: #E7792A;
}
